<footer class="footer bg-dark py-3 mt-auto"> <!-- mt-auto: per far andare il footer in basso anche quando il content non riempe lo screen-->
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2021</span>
    </div>
</footer>